<!doctype html>
<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="description" content="Github Pages">
    <meta name="author" content="Tim Ryan">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Project Portfolio" %></title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>

  <!-- Google map -->
  <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgETSFBHgOWEWR_maswzOYGZmLOjOhsak&callback=initMap"></script>
</html>
